html, body {
  background-color: rgba(3, 3, 3, 0.616);
  min-height:100vh
}

.alert-centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

.custom-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
  background-color: rgba(39, 127, 228, 0.966);
}